<div class="row">
    <div class="col-8">
        <%= render 'layouts/flashMessages' %>
    </div>
</div>
<% if @stock %>
    <div class="card card-body col-6 mb-3 p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th class="border-top-0"><em>Symbol</em></th>
                    <td class="border-top-0"><%= @stock.ticker %></td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td><%= @stock.name %></td>
                </tr>
                <tr>
                    <th>Latest Price</th>
                    <td><%= @stock.last_price %></td>
                </tr>
            </tbody>
        </table>
    </div>
<% end %>