<div class="row">
    <div class="col-8">
        <%= render 'layouts/flashMessages' %>
    </div>
</div>
<% if @stock %>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Latest Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><%= @stock.ticker %></td>
            <td><%= @stock.name %></td>
            <td><%= @stock.last_price %></td>
            </tr>
        </tbody>
    </table>
<% end %>